<h2 class="logo">
    Vinicius Rossado
    <span>Senior Software Engineer</span>
</h2>

<input type="radio" id="aboutme" name="item" class="about-me" />
<label for="aboutme" class="menu about-me">
    <div class="preview"></div>
    <div class="info">
        <h2>
            <div class="icon"></div>
            About
        </h2>
        <h3>AAAA</h3>

    </div>
</label>

<input type="radio" id="experience" name="item" class="experience" />
<label for="experience" class="menu experience ">
    <div class="preview"></div>
    <div class="info">
        <h2>
            <div class="icon"></div>
            Experience
        </h2>
        <h3>AAAA</h3>
    </div>
</label>


<input type="radio" id="education" name="item" class="education" />
<label for="education" class="menu education ">
    <div class="preview"></div>
    <div class="info">
        <h2>
            <div class="icon"></div>
            Education
        </h2>
        <h3>AAAA</h3>

    </div>
</label>

<input type="radio" id="licensescertifications" name="item" class="licensescertifications" />
<label for="licensescertifications" class="licenses-certifications menu">
    <div class="info">
        <h2>
            Licenses & certifications
        </h2>
        <h3>AAAA</h3>

    </div>
</label>

<div class="section">

    <div class="section-item">
        <div class="item about-me">
            <div class="item-description about-me">
                <h1>About Me</h1>
                <p>Hi, I'm Vinícius.

                    Currently working with Stencil and .NET Core at a financial company. One of my favorite things to do
                    on my free time (besides playing the guitar) is to build new architectures in order to challenge
                    myself with new development patterns. Besides, one of my hobbies includes learning new stacks, for
                    instance, right now I'm quite interested in Golang.

                    For the past few years I've also been interested in learning new languages and cultures, specially
                    the nordic ones.

                    You can reach me at my e-mail, if you want to see my personal projects, check out my github page:

                    https://github.com/vinirossado
                </p>

                <label for="readAbout">
                    <a> Read Mor
                        <span>e</span>
                    </a>
                </label>
            </div>
            <div class="overlay"></div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

    <input type="radio" id="readAbout" name="readAbout" class="read">
    <label for="closeAbout" class="close"></label>
    <input type="radio" id="closeAbout" name="readAbout" class="read">
    <div class="panel">
        <h1>OIIII EU SOU O OVERLAY</h1>
    </div>

    <div class="section-item">
        <div class="item experience">

        </div>
    </div>

    <div class="section-item">
        <div class="item education">

        </div>
    </div>


</div>