@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');


* {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

body {

  overflow: hidden;
  background: black;
  // height: 100vh;
  font-family: 'Montserrat',
    sans-serif;

}

.experience{
  font-size: 1.4rem;
  color:#f39041;
  & .date{
    color: wheat;

  }
  & .information{
    color: white;
  }
}
.personal-image {
  border: 2px solid #f39041;
}

.experience-date {
  background-color: #f39041;
  color: wheat;
}

.title {
  color: white;
  // position: absolute;
  // top: 40px;
  // left: 0;
  // right: 0;
  // margin: auto;
  // text-align: center;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 4px;


}

.row-cols-3 {
  & .col {
    font-size: 2rem;
    color: #f39041;
    letter-spacing: 5px;
    font-weight: 100;
    text-transform: uppercase;

  }
}

.secondary {
  color: #f39041;

  &.position {
    font-size: 2rem;
  }

  &.topics {}

  // display: block;
}
